/* You can add global styles to this file, and also import other style files */
@import url('../node_modules/bootstrap/dist/css/bootstrap.min.css');
@import '~bootstrap/scss/bootstrap';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}
table {
    width: 100%;
  }
  
  .cut {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 85%;
  }
  .content-wrapper {
    padding: 8px;
  }
  
  .bacdrop-modal {
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, 0.6);
  }
  
  .back {
    cursor: pointer;
  }
  /* Importing Bootstrap SCSS file. */
  @import "~bootstrap/scss/bootstrap";
  
  /* Importing Datepicker SCSS file. */
/*   @import "~ngx-bootstrap/datepicker/bs-datepicker";
 */  
  /* Importing Bootstrap SCSS file. */

